.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Dashboard {
  background: url('img/city-at-night-1920x1080.jpg');
  min-height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Dashboard header {
  align-items: left;
  justify-content: left;
  text-align: left;
  padding: 10pt;
  padding-bottom: 0;
  font-size: 24pt;
}

.Dashboard .Row {
  float:left;
  min-width: 100vw;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  clear: both;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.DashboardButton {
  display: block;
  position: relative;
  float: left;
  cursor: pointer;
  width: 130pt;
  height: 130pt;
  color: white;
  background: none;
  margin: 10pt;
}

.DashboardButton:hover {
  cursor: pointer;
}

.DashboardButton div.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: darkgray;
  z-index: 10;
}

.DashboardButton div.content {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  z-index: 20;
}

.ToggleButton div.content.active {
  color: darkorange;
}

.DashboardButton .gg {
  --ggs: 4;
  top: 50%;
  left: 50%;
}

.DashboardButton .gg.active {
  color: darkorange;
}
